.report-main {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "Arial";
}

.report-header {
    text-align: center;
    margin-bottom: 4%;
    font-size: larger;
}

.report-subsection {
    margin-bottom: 4%;
}

.report-main p {
    line-height: 200%;
    padding: 0 2% 0 2%;
}

.weekly-images {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: #b9b0a3;
}

.weekly-images img {
    max-width: 100%;
}